


* {
    box-sizing: border-box;
  }


  .contenedor {
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
    
    
    
    
}

  
  
  
  .menu {
    float: left;
    width: 20%;
    text-align: center;
  }
  
  .menu a {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
  }
  
   
  
  a:hover {
    color: #e5e5e5;
    background-color:#1C6EA4;
     
  }
 
                
  
  .contents {
    float: left;
    width: 650px;
    padding: 0 20px;
  }
  
  .right {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
  }
  
  
  .card {
      size:auto;
      border-left: 10px solid #1C6EA4;
      text-indent: 6px;

    
      }

      li {
        list-style: none;
      }
  
  

  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .contents, .right {
      width: 100%;
    }
  }
  